<launch>
  <!-- MUST BE RUN ALONE, OTHERWISE THE NAME IS NOT RECOGNISED -->
  <node pkg="minesweeper_package" type="smart_near" name="smart_near"></node>
  <group ns="myturtlebot">
    <node pkg="minesweeper_package" type="mine_detection" name="mine_detection"></node>
    <!-- Additional nodes go above this line -->
  </group>
</launch>